.nav--items--container {
  position: fixed;
  bottom: 0px;
  height: 3.5rem;
  padding: var(--space-1);
  width: 100%;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .nav--items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
} */

.nav--item {
  /* border: 2px solid #4338ca; */
  margin-left: 0.5rem;
  /* padding: var(--space-1); */
  /* width: 1.5rem;
  height: 1.5rem; */
  color: #e0dff7;
  display:inline-block;
}

/* nav--item {
  border: 2px solid gray;
  padding: 1rem;
  width: var(--space-2);
  color: var(--main-color);
  background-color: var(--main-color);
} */
