.nav--items--container {
  position: fixed;
  bottom: 0px;
  height: 3.5rem;
  padding: var(--space-1);
  width: 100%;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 

.nav--item {
  
  margin-left: 0.5rem;
   
  color: #e0dff7;
  display:inline-block;
}

 
