.nav--items--container {
  position: fixed;
  bottom: 0px;
  border: 2px solid orange;
  height: 3rem;
  width: 100%;
  z-index: 1;
  background-color: var(--secondary-color);
}

nav--items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

/* nav--item {
  border: 2px solid gray;
  padding: 1rem;
  width: var(--space-2);
  color: var(--main-color);
  background-color: var(--main-color);
} */
