.welcome-user--container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--main-color);
  height: 50px;
  width: 50px;
  position: fixed;
  right: -10px;
 
}
 
.welcome--icon {
  color: var(--main-color);
}
