.product--container {
  /* border: 4px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* margin-top: var(--space-5); */
  margin-left: 10rem;
}

.products--section {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 786px) {
  .product--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .products-section {
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    width: 100%;
  }
}
.button--primary.disabled {
  display: none;
  user-select: none;
  opacity: 90%;
}
